* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #f0f0f0;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.header {
  margin: 0 0 20px 0;
  padding: 10px 0;
  background: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header h1 {
  font-size: 2.5em;
  color: #A800FF;
  margin-bottom: 10px;
}
.header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.header nav .nav-button {
  color: #f0f0f0;
  background-color: #A800FF;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.header nav .nav-button:hover {
  background-color: #009688;
  transform: translateY(-2px);
}
.main-image {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.main-image:hover {
  transform: scale(1.05);
}
.content {
  margin: 20px;
}
.content h1 {
  font-size: 3em;
  color: #A800FF;
  margin-bottom: 10px;
}
.content p {
  margin: 20px 0;
  font-size: 1.2em;
}
.join-button {
  background-color: #A800FF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.join-button:hover {
  background-color: #009688;
  transform: translateY(-5px);
}
.images-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 2%;
  padding: 20px;
}
.images-grid img {
  width: 22%;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.images-grid img:hover {
  transform: scale(1.05);
}
.footer {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #1a1a1a;
  color: #ccc;
  font-size: 0.9em;
  border-top: 1px solid #444;
}
.footer .copy-button {
  background-color: #A800FF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.footer .copy-button:hover {
  background-color: #009688;
  transform: translateY(-2px);
}
.footer p {
  margin: 5px 0;
}
@media only screen and (max-width: 600px) {
  .header h1 {
      font-size: 2em;
  }
  .main-image {
      width: 90%;
  }
  .images-grid img {
      width: 80%;
  }
  .content h1 {
      font-size: 2.5em;
  }
  .content p {
      font-size: 1em;
  }
  .join-button {
      padding: 10px 15px;
  }
}
